/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Variables ----------------- */
:root {
    --primary-font: "Merriweather Sans", sans-serif;
    --secondary-font: "Domine", cursive;
    --primary-color: #2E3145; /* Space cadet */
    --secondary-color: #212331; /* Raisin black*/
    --tertiary-color: #605598; /* Gunmetal */
    --shade-color: #2A2E37; /* Gunmetal */
    --highlight-color: #232629; /* Eerie black */
    --highlight-color-2: #54677a; /* light slate gray */
    --highlight-color-light: #b6c2ce; /* light cream */
    --link-color:#336699;
    --alert-color:#ed7d0d;
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: var(--primary-font);
    color: #e0e0e0; 
    min-height: 100vh;
    background-color: var(--shade-color);
}
h1{
    color: var(--highlight-color-light);
    margin: 40px 20px;
    font-size: 2.2rem;
}
h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}
h2 {
    margin-bottom: 2rem;
    padding-bottom: 5px;
    border-bottom: 1px #aba46172 solid;
}
h3 {
    font-family: var(--secondary-font);
    color: var(--highlight-color-light);
    text-align: center;
    margin: 35px 20px 20px 20px;
}
h4 {
    color: var(--highlight-color-light);
    padding-bottom:  20px;
    font-size: 1.4vw;
}
h6{
    font-size: smaller;
}

A{
    text-decoration: none;
    color: var(--highlight-color-light);
}
A:hover{
    color: var(--alert-color);
}
label{
    color: var(--highlight-color-light);
    font-size: 1rem;
}
ul{
    list-style: none;
}
/* ------------ End of Global styles */

/* Page structure Styles */
/* Navigation styles */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlight-color-2);
}

nav ul {
    align-self: center;
    list-style: none;
    margin: 0 15px;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    color: var(--alert-color);
}

figure {
    margin: 15px;
    padding: 0;
}
figure img {
    height: 50px;
}
/* End of navigation styles  */


/* Main container */
main{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
}

/* Styles for quiz containers */
.quiz-container {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-bottom: 20px;
    align-items: center; /* Ensusre all quiz sections have equal height */
}
.quiz-container h3{
    text-align: center;
    width: 90%;
}
.quiz-section {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    width: 30%;
    background-color: var(--tertiary-color);
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: stretch;
    box-sizing: border-box;
    min-height: 420px;
}
/* generic container for about and contact pages --- */
.quiz-section-generic { 
    align-self: center;
    flex-direction: column;
    justify-content: stretch;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    width: 98%;
    background-color: var(--secondary-color);
    margin: 15px 0 15px 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* -------------------------------------------- */


.quiz-section ul.no-bullets {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.quiz-section input[type="radio"] {
    margin-right: 5px;
}

.quiz-section input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.quiz-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.totalScoreContainer h2{
    font-size: 20px;
}
#quizButton{
    display: block;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
#quizButton button{
    background-color: #333;
    font-size:larger;
    color: #b9df7c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
#passMessage{
    border: 3px rgb(77, 77, 77) solid;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    background-color: var(--highlight-color-2);
    font-weight: bold;
}

#countdown{
    text-align: center;
    font-size: 1.5vw;
    color: var(--alert-color);
    margin: 15px auto;
}

/* Styles for showing anwerst inside quiz section */
.answers-container {
    margin-top: 20px;
    padding: 15px;
    border-top: 2px solid #ccc;
    background-color: #f9f9f9; /* Optional: light background */
}

.answers-container h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.question-block {
    margin-bottom: 15px; /* Space between questions */
}

.question-text {
    font-size: 0.9em; /* Smaller font for the question */
    font-style: italic;
    color: #555;
}

.answer-text {
    font-size: 1em; /* Normal font for the correct answer */
    color: #007bff; /* Highlight the correct answer */
    margin: 5px 0;
}


/* Styles for section with reset button */
#reset{
    text-align: center;
}
.reloadPageButton{
    margin: 10px auto;
    padding: 5px 30px;
}
.reloadPageButton button{
    margin: 10px auto;
    padding: 15px 60px;
    background-color: var(--tertiary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}

/* Media queries for responsiveness ---- */
@media screen and (max-width: 992px) {
    .quiz-section {
        width: 45% !important;
    }
}

@media screen and (max-width: 768px) {
    .quiz-section {
        width: 100%;
        margin: 5px;
    }
}

@media screen and (max-width: 576px) {
    .quiz-section {
        min-width: 90%;
        min-height: 300px;
        margin: 5px;
        display:flex;
    }
    .totalScoreContainer h2{
        font-size: 14px;
    }
    #countdown{
        font-size: 18px;
    }
    li, label{
        font-size: 12px;
    }
    body{
        font: 4vw;
    }
    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 4vw;
    }
    h4{
        font-size: 3vw;
    }
    li{
        font-size: 3vw;
    }
    input{
        font-size: 3vw;
    }
    p{
        font-size:10px;
    }
}
/* ---- End of Media queries for responsiveness */

/* Simple css styles ---- */
.centered {
    text-align: center;
}

.hidden {
    display: none;
    visibility: hidden;
    height: 0px !important;
}

.highlight {
    color: green;
    font-weight: bold;
}

.green {
    color: rgb(51, 227, 51);
}

.red {
    color: rgb(192, 25, 108);
    font-size: 18px;
    font-weight: bold;
}

.redBorder{
    color: red;
    background-color: white !important;
    border: 1px red solid !important;
    border-radius: 5px !important;
    padding: 15px 7px !important;
    text-align: center;
    font-weight: bold;
}

.orange {
    color: orange;
    font-weight: bold;
    background-color: #2E3145;
}

.blue {
    color: blue;
    font-weight: bold;
}

.gunMetal {
    color: #605598
}
/* ---- End of simple css styles */