/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Variables */
:root {
    --primary-font: "Merriweather Sans", sans-serif;
    --secondary-font: "Domine", cursive;
    --primary-color: #2E3145; /* Space cadet */
    --secondary-color: #212331; /* Raisin black*/
    --tertiary-color: #605598; /* Gunmetal */
    --shade-color: #2A2E37; /* Gunmetal */
    --highlight-color: #232629; /* Eerie black */
    --highlight-color-2: #54677a; /* light slate gray */
    --highlight-color-light: #b6c2ce; /* light cream */
    --link-color:#336699;
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: var(--primary-font);
    color: #e0e0e0; 
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    background-color: var(--shade-color);
}
h1{
    color: var(--highlight-color-light);
    margin: 40px 20px;
    font-size: 2.2rem;
}
h3 {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    text-align: center;
}
h4 {
    color: var(--highlight-color-light);
    padding-bottom:  20px;
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}
h2 {
    margin-bottom: 2rem;
    padding-bottom: 5px;
    border-bottom: 1px #aba46172 solid;
}
h6{
    font-size: smaller;
}
A{
    text-decoration: none;
    color: var(--primary-color);
}
A:hover{
    color: var(--link-color);
}
label{
    color: var(--highlight-color-light);
    font-size: 1rem;
}
/* End of Global styles */

/* Page structure Styles */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlight-color-2);
}

nav ul {
    align-self: center;
    list-style: none;
    margin: 0 15px;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

figure {
    margin: 15px;
    padding: 0;
}
figure img {
    height: 50px;
}


.quiz-container {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-bottom: 20px;
    align-items:center stretch; /* Ensusre all quiz sections have equal height */
}

.quiz-section {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    width: 30%;
    background-color: var(--tertiary-color);
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-sizing: border-box;
}
.quiz-section-generic {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    width: 60%;
    background-color: var(--tertiary-color);
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-sizing: border-box;
}

.quiz-section ul.no-bullets {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.quiz-section input[type="radio"] {
    margin-right: 5px;
}

.quiz-section input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.quiz-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
}
#passMessage{
    border: 3px rgb(77, 77, 77) solid;
    text-align: center;
    margin: 15px auto;
    padding: 30px;
    background-color: white;
    font-weight: bold;
}
#resetButton{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 992px) {
    .quiz-section {
        width: 45% !important;
    }
}

@media screen and (max-width: 768px) {
    .quiz-section {
        width: 100%;
        margin: 5px;
    }
}

@media screen and (max-width: 576px) {
    .quiz-section {
        min-width: 90%;
        margin: 5px;
        display:flex;
    }
    body{
        font: 4vw;
    }
    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 4vw;
    }
    h4{
        font-size: 4vw;
    }
    li{
        font-size: 3vw;
    }
    input{
        font-size: 3vw;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

.highlight {
    color: green;
    font-weight: bold;
}

.green {
    color: rgb(51, 227, 51);
}

.red {
    color: red;
}

.orange {
    color: orange;
    font-weight: bold;
}