/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Variables */
:root {
    --primary-font: "Merriweather Sans", sans-serif;
    --secondary-font: "Domine", cursive;
    --primary-color: #2E3145; /* Space cadet */
    --secondary-color: #212331; /* Raisin black*/
    --tertiary-color: #605598; /* Gunmetal */
    --shade-color: #2A2E37; /* Gunmetal */
    --highlight-color: #232629; /* Eerie black */
    --highlight-color-2: #54677a; /* light slate gray */
    --highlight-color-light: #b6c2ce; /* light cream */
    --link-color:#336699;
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: var(--primary-font);
    color: #e0e0e0; 
    /* Making footer stick to the bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--shade-color);
}
h1{
    color: var(--highlight-color-light);
    margin: 20px;
}
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    text-align: center;
}
h4 {
    color: var(--highlight-color-light);
    padding-bottom:  20px;
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}
h2 {
    margin-bottom: 2rem;
    border-bottom: 1px #aba46172 solid;
    text-shadow: rgb(132, 159, 205) 2px 2px 1px;
}
h6{
    font-size: smaller;
}
A{
    text-decoration: none;
    color: var(--primary-color);
}
A:hover{
    color: var(--link-color);
}
/* End of Global styles */

/* Page structure Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    align-items: stretch; /* Ensure all quiz sections have equal height */
}

.quiz-section {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    width: 28%;
    background-color: var(--tertiary-color);
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Add padding between quiz questions and answers */
.quiz-section .question {
    padding-bottom: 20px; /* Add padding to the bottom of the question */
}

.quiz-section ul.no-bullets {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.quiz-section input[type="radio"] {
    margin-right: 5px;
}

.quiz-section input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.quiz-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
}